<a href="{{ .Site.Params.social.spotify }}" class="social-link" aria-label="Mix Hawk on Spotify" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-spotify"></i></a>
<a href="{{ .Site.Params.social.apple }}" class="social-link" aria-label="Mix Hawk on Apple Music" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-apple"></i></a>
<a href="{{ .Site.Params.social.youtube }}" class="social-link" aria-label="Mix Hawk on YouTube" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
<a href="{{ .Site.Params.social.instagram }}" class="social-link" aria-label="Mix Hawk on Instagram" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
<a href="{{ .Site.Params.social.facebook }}" class="social-link" aria-label="Mix Hawk on Facebook" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
<a href="{{ .Site.Params.social.twitter }}" class="social-link" aria-label="Mix Hawk on Twitter/X" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
